.RoomTitle { 
    font-family: arial;
    font-size: 14pt;
    color: black;
    padding-right: 15px;
    padding-bottom: 20px;
    width: 115px
}

.RoomText { 
    
    vertical-align: text-top;
    font-size: 14pt;
    color: gray
}

.RoomLink { 
    
    vertical-align: text-top;
    font-size: 11pt;
    color: purple;
    padding-left: 20px
}

.facilitiesHeader {

    font-family: Arial;
    color: grey;
    font-size: 16pt;
    font-weight: bold
}

.facilitiesText {

    font-family: Arial;
    color: grey;
    font-size: 14pt
}